//colores:
$color-cards: #147A7A; 
$color-buscador: #24CCCC; 
$color-textoCards: #FFFFFF;
$color-textoBuscador: #0000;

//estilo de letra:
$font-weigth-titulo: bold;

//tipografia:
$fuente: 'Poppins', sans-serif;

//tamaños textos:
$tamaño-titulo: 1.3em;
$tamaño-subtitulo: 1em;
$tamaño-botones: 0.8em;
$tamaño-texto: 0.8em;






